// Place all the styles related to the StackBookEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


// 画面サイズ共通/スマートフォン縦

// for index.html
.book-container {
    width: 100%;
    a:link {color:#000000; text-decoration:none }
    a:visited { color:#000000; text-decoration:none }
    a:hover { color:#000000; text-decoration:none }
    a:active { color:#000000; text-decoration:none }
    .book {
        display: flex;
        opacity: 0.8;
        border: 1px solid gray;
        height: 80px;
        p {
            @include truncate;
        }
        &:hover {
            opacity: 1.0;
            border: 1px solid #000000;
        }
        &:active {
            opacity: 1.0;
        }
        .book-img {
            width: 20%;
            img {
                background-color: gray;
                height: 100%;
            }
        }
        .book-detail {
            width: 80%;
            .book-title {
                .title {
                    @include truncate;
                }
                padding: 0px 10px;
            }
            .book-author-date {
                display: flex;
                .author {
                    width: 80%;
                    @include truncate;
                    padding: 0px 10px;
                }
                .date {
                    width: 130px;
                    @include truncate;
                    padding: 0px 10px;
                }
            }
        }
    }
}

.btn-abs {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

// for show.html
.detail-container {
    width: 100%;
    .book-title {
        width: 100%;
    }
    .book-detail {
        width: 100%;
        display: flex;
        .book-image {
            height: 200px;
            padding-right: 10px;
            img {
                background-color: gray;
                height: 100%;
            }
        }
    }
}
